* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;;
}
body {
    background-color: rgb(13, 13, 61);
    color: white;
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color: rgb(10, 10, 79);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;

}

nav ul li a {
    text-decoration: none;
    color: rgb(253, 253, 253);
}

nav ul li a:hover {
    color: rgb(111, 111, 227);
    font-size: 1.02rem;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

main hr {
    border: 0;
    background-color: rgb(185, 138, 229);
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;

}

.firstsection>div {
    width: 30%;

}

.leftsection {
    font-size: 2.5rem;
    margin: 50px 0;

}

.leftsection .buttons {
    padding: 36px 0;
    display: flex;
}

.leftsection .btn {
    padding: 12px;
    background: rgb(57, 17, 57);
    color: white;
    border: 2px soild white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 10px;

}


.rightsection img {
    width: 70%;

}

.purple {
    color: rgb(185, 138, 229);
}

.textgray {
    color: rgb(63, 60, 60);
}

#element {
    color: rgb(185, 138, 229);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;


}

.about-col-1 {
    flex-basis: 35%;
    justify-content: space-around;
}

.about-col-1 img {
    width: 80%;
    border-radius: 10px;
}

/*--------------about------------------- */
#about {
    padding: 85px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2 {
    flex-basis: 60%;
    font-size: 15px;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: white;
    padding: 6px;

}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;

}

/*--------------------project-------------------*/
#project{
    padding: 60px 0;
    margin: 50px;
    
    
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.project-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background: #f0044f;
    transform: translateY(-10px);

}
/* ---------portfolio--------- */
#portfolio{
    padding: 50px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width:90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    padding-left: 0px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer p{
    padding: 0 20px;
}
.layer a{
    margin: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background  0.5s;

}
.btn:hover{
    background: #ff004f;


}
/*------------contact------------*/
.contact-left{
    padding: 50px;
    flex-basis: 35%;
    
}
.contact-right{
    flex-basis: 50%;
    margin-top: 50px;
    margin-right: 70px;

}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;

}
.contact-right{
    padding: 20px;
    
}
.contact-right form{
    width: 100%;
   
    
}
form input, form textarea{
    display: flex;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}